* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    background-color: #0080ff;
    color: rgb(200, 153, 153);
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: rgb(69, 26, 26);
    text-decoration: none;
}

.hero {
    background-image: url(''); /* Замените на ваше фоновое изображение */
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h2 {
     color: rgb(176, 50, 50);
     font-size: 36px;
 }

.hero p {
     color: rgb(145, 16, 16);
 }

button {
     padding: 10px 20px;
     background-color: #00509E; /* Цвет кнопки */
     color: rgb(158, 72, 72); 
     border: none; 
     cursor: pointer; 
 }

.services-preview {
     padding: 20px 0; 
 }

.service-item {
     background-color: #bb3f3f; 
     margin-bottom: 10px; 
     padding: 10px; 
 }

footer {
     text-align: center; 
     padding: 20px; 
     background-color: #003366; 
     color: rgb(195, 98, 98); 
 }